<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width， initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small " >
        <div class="ui container">

<!--           secondary 次要的，将首页,分类之间的间隔变大-->
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui teal header item" >秋二的 Blog</h2>

                <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide active"><i class=" clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于</a>
<!--                置右-->
                <div class="right m-item item m-mobile-hide">
<!--                    更好看的搜索,icon 可在里面加图标-->
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...."> </input>
<!--                        i标签加图标，link让鼠标放在搜索图标的时候是点击按钮-->
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <main class="m-container-small m-padded-tb-huge">
        <div class="ui container">
            <header class="ui segment middle two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block">114</h3>篇博客
                </div>

            </header>

            <h2 class="ui center aligned header">2021</h2>

            <div class="ui vertical fluid menu">
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
            </div>

            <h2 class="ui center aligned header">2020</h2>

            <div class="ui vertical fluid menu">
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
                <a href="#" class="item">
                    <span>
                        <div class="ui teal basic left pointing label">10-03</div>
                        关于刻意练习的清单<i class="mini teal circle icon"></i>
                    </span>
                    <div class="ui orange basic left pointing label">原创</div>
                </a>
            </div>

        </div>
    </main>

    <footer th:replace="_fragments :: footer" class="ui inverted attached segment m-padded-tb-massive">
<!--        居中对齐-->
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="three wide column">
                    <div class="inverted link list">
                        <div class="item">
                            <img src="../static/images/qq.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>

                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>

                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                    </p>

                </div>

            </div>

            <div class="ui inverted divider">
            </div>

            <p  class="m-text-thin m-text-spaced m-opacity-mini">
                Copyright © 2022 秋二 Designed by 秋二
            </p>

        </div>


    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script >
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>