<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width， initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <nav th:replace="_fragments :: menu(2)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small " >
        <div class="ui container">

<!--           secondary 次要的，将首页,分类之间的间隔变大-->
            <div class="ui inverted secondary menu stackable">
                <h2 class="ui teal header item" >秋二的 Blog</h2>

                <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于</a>
<!--                置右-->
                <div class="right m-item item m-mobile-hide">
<!--                    更好看的搜索,icon 可在里面加图标-->
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...."> </input>
<!--                        i标签加图标，link让鼠标放在搜索图标的时候是点击按钮-->
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
<!--    wide column 是横列 column 是纵列-->
    <main class="m-container-small m-padded-tb-huge">
        <div class="ui container segments" >
            <header class="ui segment top attached middle two column grid">
                <div class="column" th:classappend="#{theme.articleTerminal}">
                    <h3 class="ui header" th:classappend="#{theme.semantic}">分类</h3>
                </div>
                <div class="right aligned column" th:classappend="#{theme.articleTerminal}">
                    共 <h3 class="ui orange header m-inline-block" th:text="${#arrays.length(types)}">14</h3> 个
                </div>
            </header>

            <main class="ui segment m-padded-tb-large" th:classappend="#{theme.articleContent}">
                <a th:href="@{/type/{id}(id=${type.id})}" class="ui labeled button m-margin-tb-tiny"  th:each="type : ${types}">
                    <div class="ui basic button " style="background-color: #fdf5e6 !important;" th:classappend="${type.id} == ${activeTypeId} ? #{theme.semantic}" th:text="${type.name}" >思考与感悟</div>
                    <div class="ui basic left pointing label" style="background-color: #fdf5e6 !important;" th:classappend="${type.id == activeTypeId} ? #{theme.semantic}" th:text="${#arrays.length(type.blogs)}">24</div>
                </a>
                <!--/*-->
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic teal button">思考与感悟</div>
                    <div class="ui basic teal left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <a class="ui labeled button m-margin-tb-tiny">
                    <div class="ui basic button">思考与感悟</div>
                    <div class="ui basic left pointing label">24</div>
                </a>
                <!--*/-->
            </main>
        </div>

        <div class="ui container segments">
            <main class="ui segment " th:classappend="#{theme.articleContent}">
                <div class="ui padded m-padded-lr-clear vertical segment grid stackable" th:each="blog : ${page.content}" th:object="${blog}">
                    <div class="eleven wide column ">
                        <a href="#" th:href="@{/blog/{id}(id=*{id})}" class="m-black">
                        <h3 class="" th:text="*{title}">你真的理解什么是财富自由吗?</h3>
                        <p class="m-text" th:text="*{description}">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已</p>
                        </a>
                    </div>
                    <div class="five wide column ">
                        <div class="ui horizontal link list m-padded">
                            <div class="item">
                                <i class="calendar icon item" style="padding-bottom: 20px !important"></i><span th:text="*{#dates.format(updateTime,'yyyy-MM-dd')}">2017-01-01</span>
                            </div>
                            <div class="item">
                                <i class="eye icon" style="padding-bottom: 20px !important"></i><span th:text="*{views}">355</span>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="ui horizontal link list">
                            <div class="item">
                                <a href="#" th:href="@{/type/{id}(id=${blog.type.id})}" class="ui basic label item m-padded-mini" th:classappend="#{theme.semantic}"  th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/*-->
                <div class="ui padded m-padded-lr-clear vertical segment grid stackable">
                    <div class="eleven wide column ">
                        <h3 class="">你真的理解什么是财富自由吗?</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已</p>
                    </div>
                    <div class="five wide column ">
                        <div class="ui horizontal link list">
                            <div class="item">
                                <i class="calendar icon item"></i>2017-01-01
                            </div>
                            <div class="item">
                                <i class="eye icon"></i>355
                            </div>
                            <br>
                            <div class="item">
                                <a href="#" class="ui teal basic label item m-padded-mini">认知升级</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui padded m-padded-lr-clear vertical segment grid stackable">
                    <div class="eleven wide column ">
                        <h3 class="">你真的理解什么是财富自由吗?</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已</p>
                    </div>
                    <div class="five wide column ">
                        <div class="ui horizontal link list">
                            <div class="item">
                                <i class="calendar icon item"></i>2017-01-01
                            </div>
                            <div class="item">
                                <i class="eye icon"></i>355
                            </div>
                            <br>
                            <div class="item">
                                <a href="#" class="ui teal basic label item m-padded-mini">认知升级</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*/-->
            </main>
            <footer class="ui bottom attached segment two column grid" th:if="${page.totalPages} > 1">
                <div class="column">
                    <!--                            basic 只给字体和边框加颜色-->
                    <a href="#" class="ui teal basic mini button" th:href="@{/type/{id}/(id=${activeTypeId},page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui teal basic mini button" th:href="@{/type/{id}/(id=${activeTypeId},page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                </div>
            </footer >
        </div>
    </main>

    <footer th:replace="_fragments :: footer" class="ui inverted attached segment m-padded-tb-massive">
<!--        居中对齐-->
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="three wide column">
                    <div class="inverted link list">
                        <div class="item">
                            <img src="../static/images/qq.jpg" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>

                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>

                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                    </p>

                </div>

            </div>

            <div class="ui inverted divider">
            </div>

            <p  class="m-text-thin m-text-spaced m-opacity-mini">
                Copyright © 2022 秋二 Designed by 秋二
            </p>

        </div>


    </footer>

    <!--/*/ <th:block th:replace="_fragments :: script" > /*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/ </th:block> /*/-->
    <script >
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>